@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /* .input {
    @apply border-0 px-3 py-3 border-none bg-white placeholder-slate-300 text-sm outline-none w-full;
  } */
  /* .btn {
    @apply px-8 py-4
  } */
  .btn-success {
    @apply border-none bg-green-300 text-white !important;
  }
  .btn-primary {
    @apply border-none bg-indigo-500 text-white !important;
  }
  .btn-danger {
    @apply border-none bg-rose-500 text-white !important;
  }
  .tooltip {
    @apply z-50 !important;
  }

  .tab::before {
    @apply bg-gray-900 border-gray-900;
  }

  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  .input {
    @apply focus:ring-0 focus:ring-offset-0 !important;
  }
  select {
    @apply ring-0 focus:outline-none focus:ring-0 focus:ring-offset-0 !important;
  }
}

@layer utilities {
  .collapse {
    visibility: visible;
  }
}

.modal-box {
  border-radius: 4px !important;
}
.btn {
  border-radius: 4px !important;
}
.input {
  border-radius: 4px !important;
}
.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

html {
  overflow: scroll;
  overflow-x: hidden;
} 
::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #10bea7;
} 


select,
button,
input[type="button"] {
  outline: none;
}
select::-moz-focus-inner,
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: 0 !important;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
